<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chillgulp_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>cuore_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>frankenstein_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>lab_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>lab_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>lab_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{960,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1136}}</string>
                <key>sourceSize</key>
                <string>{960,1136}</string>
            </dict>
            <key>lab_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{1300,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,110}}</string>
                <key>sourceSize</key>
                <string>{1300,110}</string>
            </dict>
            <key>lab_extras.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{1240,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1240,270}}</string>
                <key>sourceSize</key>
                <string>{1240,270}</string>
            </dict>
            <key>lab_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{90,980}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,980}}</string>
                <key>sourceSize</key>
                <string>{90,980}</string>
            </dict>
            <key>lab_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{380,1065}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,1065}}</string>
                <key>sourceSize</key>
                <string>{380,1065}</string>
            </dict>
            <key>lab_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{95,1015}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,1015}}</string>
                <key>sourceSize</key>
                <string>{95,1015}</string>
            </dict>
            <key>lab_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{1300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,120}}</string>
                <key>sourceSize</key>
                <string>{1300,120}</string>
            </dict>
            <key>liquid_soul_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>mummy_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>werewolf_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:354ecc8489e8987f5e50eff762029241:523411e65201d9662e3e53ba1b0012a8:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
