<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chillgulp_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>cuore_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>frankenstein_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>lab_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>lab_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,150}}</string>
                <key>sourceSize</key>
                <string>{65,150}</string>
            </dict>
            <key>lab_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{960,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1136}}</string>
                <key>sourceSize</key>
                <string>{960,1136}</string>
            </dict>
            <key>lab_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{1300,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,120}}</string>
                <key>sourceSize</key>
                <string>{1300,120}</string>
            </dict>
            <key>lab_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{70,956}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,956}}</string>
                <key>sourceSize</key>
                <string>{70,956}</string>
            </dict>
            <key>lab_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{200,956}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,956}}</string>
                <key>sourceSize</key>
                <string>{200,956}</string>
            </dict>
            <key>lab_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{70,956}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,956}}</string>
                <key>sourceSize</key>
                <string>{70,956}</string>
            </dict>
            <key>lab_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{1300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,60}}</string>
                <key>sourceSize</key>
                <string>{1300,60}</string>
            </dict>
            <key>liquid_soul_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>mummy_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>werewolf_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c44e832189a7c7f182a557a10e1761c4:74f1eab8eda6cda8d33f3f29ad520c92:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
