<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frankie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>obstacle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{250,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,175}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>obstacle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>obstacle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{75,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,185}}</string>
                <key>sourceSize</key>
                <string>{75,185}</string>
            </dict>
            <key>obstacle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{325,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,125}}</string>
                <key>sourceSize</key>
                <string>{325,125}</string>
            </dict>
            <key>obstacle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,189},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>obstacle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,189},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>obstacle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{325,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,120}}</string>
                <key>sourceSize</key>
                <string>{325,120}</string>
            </dict>
            <key>obstacle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,316},{530,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,150}}</string>
                <key>sourceSize</key>
                <string>{530,150}</string>
            </dict>
            <key>obstacle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>obstacle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,468},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>obstacle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,468},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>soul_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,468},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>world_01_objects.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d89af9902272837d88b4a2dbd3a2bb:962293da76ed48eaf58609b5695dd368:f785908107b84d9803be73c043d85075$</string>
            <key>textureFileName</key>
            <string>world_01_objects.png</string>
        </dict>
    </dict>
</plist>
