<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speed_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
            <key>speed_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_objects.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76694e94f397658f3db8407b702f777c:7fc126163a6617eaa76c58a5d6f7617f:e4d43c5817c6bf8313a32cd98c8af488$</string>
            <key>textureFileName</key>
            <string>common_objects.png</string>
        </dict>
    </dict>
</plist>
