<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>click_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>common_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{250,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,75}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>common_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{250,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,75}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{570,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,525}}</string>
                <key>sourceSize</key>
                <string>{570,525}</string>
            </dict>
            <key>distance_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{255,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,72}}</string>
                <key>sourceSize</key>
                <string>{255,72}</string>
            </dict>
            <key>fullscreen_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{600,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1136}}</string>
                <key>sourceSize</key>
                <string>{600,1136}</string>
            </dict>
            <key>soul_canister.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{200,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,390}}</string>
                <key>sourceSize</key>
                <string>{200,390}</string>
            </dict>
            <key>soul_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1140},{255,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,72}}</string>
                <key>sourceSize</key>
                <string>{255,72}</string>
            </dict>
            <key>speed_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1140},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
            <key>speed_bar_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1140},{56,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,360}}</string>
                <key>sourceSize</key>
                <string>{56,360}</string>
            </dict>
            <key>speed_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1140},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3516ef745352d190fe0153d7c569ff21:30fbc60cd147d1bb4f17ced8e047d7c2:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
