<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>mob_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>mob_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,160}}</string>
                <key>sourceSize</key>
                <string>{640,160}</string>
            </dict>
            <key>monster_running_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>obstacle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1140},{250,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,175}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>obstacle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1140},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>obstacle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1140},{75,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,185}}</string>
                <key>sourceSize</key>
                <string>{75,185}</string>
            </dict>
            <key>obstacle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{325,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,125}}</string>
                <key>sourceSize</key>
                <string>{325,125}</string>
            </dict>
            <key>obstacle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1327},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>obstacle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1327},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>obstacle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1327},{325,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,120}}</string>
                <key>sourceSize</key>
                <string>{325,120}</string>
            </dict>
            <key>obstacle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1327},{530,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,150}}</string>
                <key>sourceSize</key>
                <string>{530,150}</string>
            </dict>
            <key>obstacle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1479},{320,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,213}}</string>
                <key>sourceSize</key>
                <string>{320,213}</string>
            </dict>
            <key>obstacle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1479},{320,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,213}}</string>
                <key>sourceSize</key>
                <string>{320,213}</string>
            </dict>
            <key>obstacle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1479},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>powerup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1479},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>powerup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1479},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>soul_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1479},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1479},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1479},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_shard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1479},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>world_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d62929055f3c2922e7e204e29d5cb0:6d0f972ff6bab26226c38a7ca57645c5:d4b9aa1647877a4021211d68cd955404$</string>
            <key>textureFileName</key>
            <string>world_0.png</string>
        </dict>
    </dict>
</plist>
