<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1136}}</string>
                <key>sourceSize</key>
                <string>{600,1136}</string>
            </dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1136}}</string>
                <key>sourceSize</key>
                <string>{600,1136}</string>
            </dict>
            <key>mob_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{600,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,150}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>mob_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{600,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,150}}</string>
                <key>sourceSize</key>
                <string>{600,150}</string>
            </dict>
            <key>monster_running_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>monster_running_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1140},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>obstacle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1140},{250,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,175}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>obstacle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1140},{300,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,100}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>obstacle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1140},{75,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,185}}</string>
                <key>sourceSize</key>
                <string>{75,185}</string>
            </dict>
            <key>obstacle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1140},{325,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,125}}</string>
                <key>sourceSize</key>
                <string>{325,125}</string>
            </dict>
            <key>obstacle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>obstacle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1327},{300,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,85}}</string>
                <key>sourceSize</key>
                <string>{300,85}</string>
            </dict>
            <key>obstacle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1327},{325,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,120}}</string>
                <key>sourceSize</key>
                <string>{325,120}</string>
            </dict>
            <key>obstacle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1327},{530,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,150}}</string>
                <key>sourceSize</key>
                <string>{530,150}</string>
            </dict>
            <key>obstacle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1327},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>obstacle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1327},{300,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,200}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>obstacle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>soul_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1529},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1529},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1529},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>soul_shard.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1529},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>world_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:896d1448aaec4ab9f9083f6be012c8af:74292886369ad255a8d7db75e16a146d:d4b9aa1647877a4021211d68cd955404$</string>
            <key>textureFileName</key>
            <string>world_0.png</string>
        </dict>
    </dict>
</plist>
