<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_menu_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,260}}</string>
                <key>sourceSize</key>
                <string>{600,260}</string>
            </dict>
            <key>main_menu_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>main_menu_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{600,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1136}}</string>
                <key>sourceSize</key>
                <string>{600,1136}</string>
            </dict>
            <key>main_menu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,264},{325,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,240}}</string>
                <key>sourceSize</key>
                <string>{325,240}</string>
            </dict>
            <key>main_menu_tomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{185,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,250}}</string>
                <key>sourceSize</key>
                <string>{185,250}</string>
            </dict>
            <key>main_menu_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1402},{250,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,470}}</string>
                <key>sourceSize</key>
                <string>{250,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a9c23bf140f92198716fa693ab304d2:c5b37bc755d9d75baa39e83242d26778:07e224c1f8d46211af51719135bf043a$</string>
            <key>textureFileName</key>
            <string>main_menu.png</string>
        </dict>
    </dict>
</plist>
