<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chillgulp_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>click_indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>common_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{250,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,75}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>common_button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{250,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,75}}</string>
                <key>sourceSize</key>
                <string>{250,75}</string>
            </dict>
            <key>cuore_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{570,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,525}}</string>
                <key>sourceSize</key>
                <string>{570,525}</string>
            </dict>
            <key>distance_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,2},{255,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,72}}</string>
                <key>sourceSize</key>
                <string>{255,72}</string>
            </dict>
            <key>frankenstein_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>fullscreen_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{600,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,1136}}</string>
                <key>sourceSize</key>
                <string>{600,1136}</string>
            </dict>
            <key>lab_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,529},{85,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,200}}</string>
                <key>sourceSize</key>
                <string>{85,200}</string>
            </dict>
            <key>lab_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,529},{85,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,200}}</string>
                <key>sourceSize</key>
                <string>{85,200}</string>
            </dict>
            <key>lich_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,529},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>liquid_soul_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,529},{125,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,175}}</string>
                <key>sourceSize</key>
                <string>{125,175}</string>
            </dict>
            <key>mummy_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,529},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>soul_canister.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,529},{200,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,390}}</string>
                <key>sourceSize</key>
                <string>{200,390}</string>
            </dict>
            <key>soul_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,529},{255,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,72}}</string>
                <key>sourceSize</key>
                <string>{255,72}</string>
            </dict>
            <key>speed_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,529},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
            <key>speed_bar_container.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,529},{56,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,360}}</string>
                <key>sourceSize</key>
                <string>{56,360}</string>
            </dict>
            <key>speed_bar_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,529},{30,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,300}}</string>
                <key>sourceSize</key>
                <string>{30,300}</string>
            </dict>
            <key>speed_separator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,529},{30,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,3}}</string>
                <key>sourceSize</key>
                <string>{30,3}</string>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,529},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>werewolf_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,529},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1f906bef5e7eab4cc512e7bdf0979e:517d6310573ff651ac2fc805a913a0e6:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
